<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organized Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="/static/js/script.js" defer></script>
</head>
<body>
    <p> Welcome to the page</p>
    <form method="POST">
        <input type="text" name="user_input" placeholder="Enter your task" required value="{{ user_input }}">
        <button type="submit">Submit</button>
    </form>
    {% if questions %}
        <div class="box" id="result-container">
            <h2>Your input:</h2>
             <p><strong> {{ questions }}</strong></p>
    {% endif %}


    {% if result %}
        <div class="box" id="result-container">
            <h2>Result</h2>
                <table>
                    {% for key, value in result.items() %}
                        <tr>
                            <p><strong>{{ key }}</strong></p>
                            <p><strong>{{ value }}</strong></p>
                        </tr>
                    {% endfor %}
                </table>
        </div>
    {% endif %}
    </div>
</body>
</html>



